<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProductService" />
        <binding name="BasicHttpBinding_IProductService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59916/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProductService" contract="ServiceReference1.IProductService"
        name="BasicHttpBinding_IProductService" />
      <endpoint address="http://localhost:59916/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProductService1" contract="ServiceReference2.IProductService"
        name="BasicHttpBinding_IProductService1" />
    </client>
  </system.serviceModel>
</configuration>